{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}

<div class="container">
    <div class="card">
        <a class="" role="button" aria-pressed="true" href="{{  url_for('question_page', url_id=0) }}">Start survey</a>
    </div>

    <div class="card">
        <a class="" role="button" aria-pressed="true" href="{{ url_for('pairwise_comp_page') }}">Prioritize dimensions and compare pairwise subdimensions</a>
    </div>
</div>

<div class="container d-flex justify-content-center align-items-center">
    <div class="card text-center">
        <h2>Hello Dear Authorized,</h2>
        <h2>Welcome to the Digital Maturity Assessment Test.</h2>
        <h2>Please first click on the "Pairwise Comparison" tab and make the necessary comparisons to determine the weights of the dimensions and subdimensions. After this process, click on the "Survey" tab and solve our survey consisting of 50 questions.</h2>
    </div>
</div>

{% endblock %}